/* FOOTER */
footer {
    margin-top: 10px;
    p {
        background-color: #000;
        color: #fff;
        font-size: 1.1rem;
        text-align: center;
        padding: 5px 0;
        margin: 0;
    }
}
