* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}
.titulo {
    text-align: center;
    font-size: 4rem;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-family: "Passion One", cursive;
    letter-spacing: 1rem;
}
