.barraNavegacion {
    background-color: #e3f2fd;
}
.tituloNav {
    font-size: 2rem;
}
.enlacesNav {
    .btnNav {
        font-size: 1.3rem;
    }
    .adminUser {
        font-size: 1.1rem;
    }
}
